*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1.0625rem;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --clrs-primary-Cyan: #2ab2af;
    --clrs-cyan-lite: #45d3d1;
    --clrs-secondary-Yellow: #c0df34;

    /* Neutral Colors */
    --clrs-neutral-LightGray: #e5eff5;
    --clrs-neutral-GrayishBlue: #98a6bd;

    /* Screen Widths */
    --mobile-width: 375px;
    --desktop-width: 1440px;
}


html, body {
    background-color: var(--clrs-neutral-LightGray);
    font-family: 'Karla', sans-serif;  
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: var(--clrs-secondary-Yellow);
    padding: 1em 2em;
    margin: 1.5em 0 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}

.container {
    display: grid;
    place-content: center;
    width: 80%;
    max-width: var(--mobile-width);
    height: auto;
    margin: auto;
}

.hero {
    background: #ffffff;
    color: var(--clrs-primary-Cyan);
    padding: 1em;
    line-height: 1.6;
}

.title {
    margin-bottom: 1em;
}

.left__window {
    background: var(--clrs-primary-Cyan);
    color: #ffffff;
    padding: 1em;
}

.right__window {
    background: var(--clrs-cyan-lite);
    color: #ffffff;
    padding: 1em;
    line-height: 1.6;
}

.price__tag {
    display: block;
    margin-bottom: 1em;
}

.price {
    font-size: 4rem;
    font-weight: 600;
}

.intro, .money__back, .why__us {
    width: 60%;
    margin-bottom: 1em;
}

.money__back {
    color: var(--clrs-secondary-Yellow);
}

footer {
    background: #ffffff;
    color: var(--clrs-primary-Cyan);
    padding: 1em;
    line-height: 2;
}

footer a {
    text-decoration: none;
}

